<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Добавить клиента</title>
</head>
<body>
<h1>Добавить клиента</h1>
<form id="add-client-form">
  <label for="first-name">Имя:</label>
  <input type="text" id="first-name" name="firstName" required><br>
  <label for="last-name">Фамилия:</label>
  <input type="text" id="last-name" name="lastName" required><br>

  <label for="department">Отделение:</label>
  <select id="department" name="department" required>
    <option value="Лиговский">Лиговский</option>
    <option value="Невский">Невский</option>
    <option value="Старо-Петерговский">Старо-Петерговский</option>
  </select><br>

  <button type="submit">Добавить</button>

</form>
<div id="result"></div>
<script>
  function addClient() {
    const firstName = document.getElementById("first-name").value;
    const lastName = document.getElementById("last-name").value;

    const data = {
      firstName: firstName,
      lastName: lastName
    };

    fetch("/clients", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
            .then(response => {
              if (response.ok) {
                // клиент успешно добавлен, выводим сообщение
                document.getElementById("result").textContent = "Клиент успешно добавлен!";
              } else {
                // обработка ошибки
                document.getElementById("result").textContent = "Ошибка при добавлении клиента";
              }
            })
            .catch(error => {
              console.error("Ошибка при добавлении клиента: ", error);
            });
  }

  const form = document.getElementById("add-client-form");
  form.addEventListener("submit", event => {
    event.preventDefault();
    addClient();
  });
</script>
</body>
</html>