<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Client List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
</head>
<body>
<div class="container mx-auto py-4">
  <h1 class="text-2xl font-bold mb-4">Client List</h1>
  <table class="table-auto w-full">
    <thead>
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">First Name</th>
      <th class="px-4 py-2">Last Name</th>
      <th class="px-4 py-2">Department</th>
    </tr>
    </thead>
    <tbody id="client-list">
    </tbody>
  </table>
</div>

<script>
  // Отправляем AJAX-запрос для получения всех клиентов
  const xhr = new XMLHttpRequest();
  xhr.open('GET', '/clients');
  xhr.onload = () => {
    if (xhr.status === 200) {
      const clients = JSON.parse(xhr.responseText);
      const clientList = document.getElementById('client-list');

      // Отображаем полученных клиентов на странице
      clients.forEach(client => {
        const row = document.createElement('tr');
        row.innerHTML = `
                        <td class="border px-4 py-2">${client.id}</td>
                        <td class="border px-4 py-2">${client.firstName}</td>
                        <td class="border px-4 py-2">${client.lastName}</td>
                        <td class="border px-4 py-2">${client.department.name}</td>
                    `;
        clientList.appendChild(row);
      });
    } else {
      console.error(xhr.statusText);
    }
  };
  xhr.send();
</script>
</body>
</html>